
* {
    font-family: "Poppins", sans-serif;
}

.font-bangla {
    font-family: "Hind Siliguri", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#learn{
    scroll-margin-top: 80px;
}

#faq{
    scroll-margin-top: 80px;
}